*.deb
*.pdb
*.log
*.make
*.cbp
*.depend
*.layout
*.workspace
*.mk
*.project
*.session
*.tags
*.sublime-workspace
*~

/*.txt
Makefile

bin/
lib/
obj/
build/
.directory
.build-*/


entity.workspace.dan
compilation.db

